.menu-toggle {
  $self: &;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 54px;
  justify-content: center;
  margin-left: auto;
  width: 54px;

  @media (width >= 768px) {
    display: none;
  }

  &__menu {
    border: 3px solid var(--orochimaru) {
      left: 0;
      right: 0;
    };
    height: 4px;
    transition: all .2s ease;
    width: 26px;
  }
}