.contact {
  padding-bottom: 60px;

  &__text {
    margin-bottom: 32px;
  }

  &__title {
    margin-top: 60px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-button {
      align-self: center;
      background-color: var(--lavender);
      border-radius: 6px;
      font: {
        family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
        size: 1.4rem;
        weight: var(--weight-semibold);
      }
      height: 40px;
      margin-top: 30px;
      width: 126px;
    }

    &-field,
    &-label,
    &-textarea {
      color: var(--nickel);
      font: {
        family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
        size: 1.6rem;
        weight: var(--weight-semibold);
      }
    }

    &-field,
    &-textarea {
      background-color: transparent;
      width: 100%;
    }

    &-wrap {
      background-color: var(--eerie-black);
      border-radius: 6px;
      display: flex;
      height: 60px;
      padding: 0 24px;

      &:not(:first-child) {
        margin-top: 20px;
      }

      &--ta {
        height: 180px;
        padding: 24px;
      }
    }
  }
}