.contact {
  $self: &;
  padding-bottom: 60px;

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    &-button {
      align-self: center;
      margin-top: 2px;
    }

    &-counter {
      bottom: 32px;
      color: var(--nickel);
      cursor: default;
      font: {
        size: 1.2rem;
        weight: var(--weight-semibold);
      }
      position: absolute;
      right: 8px;
      text-align: right;
    }

    &-error {
      bottom: 3px;
      color: #ee5150;
      left: 0;
      opacity: 0;
      padding: 0 6px;
      position: absolute;
      transition: opacity .2s ease-in;
    }

    &-field,
    &-label,
    &-textarea {
      color: var(--nickel);
      font: {
        family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
        size: 1.6rem;
        weight: var(--weight-semibold);
      }
    }

    &-field,
    &-textarea {
      background-color: transparent;
      width: 100%;
    }

    &-input {
      padding-bottom: 28px;
      position: relative;

      &--invalid {
        #{$self}__form-error {
          opacity: 1;
          transition: opacity 1s ease-out;
        }

        #{$self}__form-wrap {
          border: 1px solid #ee5150;
        }
      }
    }

    &-message {
      margin-top: 20px;
      text-align: center;
    }

    &-wrap {
      background-color: var(--cod-gray);
      border-radius: 6px;
      display: flex;
      height: 60px;
      padding: 0 24px;

      /*&:not(:first-child) {
        margin-top: 20px;
      }*/

      &--ta {
        height: 180px;
        padding: 24px;
      }
    }
  }
}