.contact {
  padding-bottom: 60px;

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    &-button {
      align-self: center;
      margin-top: 30px;
    }

    &-error {
      bottom: 3px;
      color: #ee5150;
      left: 0;
      padding: 0 24px;
      position: absolute;
    }

    &-field,
    &-label,
    &-textarea {
      color: var(--nickel);
      font: {
        family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
        size: 1.6rem;
        weight: var(--weight-semibold);
      }
    }

    &-field,
    &-textarea {
      background-color: transparent;
      width: 100%;
    }

    &-input {
      padding-bottom: 28px;
      position: relative;
    }

    &-message {
      margin-top: 20px;
      text-align: center;
    }

    &-wrap {
      background-color: var(--cod-gray);
      border-radius: 6px;
      display: flex;
      height: 60px;
      padding: 0 24px;

      /*&:not(:first-child) {
        margin-top: 20px;
      }*/

      &--ta {
        height: 180px;
        padding: 24px;
      }
    }
  }
}