.tech-stack {
  margin-top: 12px;

  &__list {
    display: flex;
    flex-flow: wrap;
    gap: 8px;
    margin-top: 10px;

    &-item {
      background-color: var(--cod-gray);
      border: 1px solid var(--mako);
      border-radius: 6px;
      font: {
        size: 1.2rem;
        weight: var(--weight-semibold);
      }
      letter-spacing: .5px;
      padding: 1rem;
    }
  }

  &__title {
    font: {
      size: 1.4rem;
      weight: var(--weight-semibold);
    }
  }

}