.header {
  align-items: center;
  background-color: var(--eerie-black);
  display: flex;
  height: 54px;
  padding: 0 0 0 20px;
  position: sticky;
  top: 0;
  z-index: 1010;

  @media (width >= 768px) {
    padding-right: 20px;
  }
}