.intro {
  align-items: center;
  background-color: var(--eerie-black);
  display: flex;
  height: 260px;
  justify-content: center;

  &__head {
    font-size: 2.6rem;
    margin-top: 0;
  }

  &__wrap {
    text-align: center;
  }
}