:root {
  // Color scheme
  --alizarin-crimson: #e22828;
  --alizarin-crimson-dark: #e33232;
  --burnt-sienna: #ee5150;
  --cod-gray: #1b1b1b;
  --cod-gray-dark: #141414;
  --grey-cloud: #b6b6b6;
  --mako: #444950;
  --mercury: #e5e5e5;
  --neon-carrot: #ff8c2f;
  --nickel: #727272;
  --shark: #242526;
  --silver-chalice: #ababab;

  // Typeface weights
  --weight-regular: 400;
  --weight-semibold: 600;
  --weight-bold: 700;

  // Module spacing
  --module-space: 20px;
  --viewport-space: var(--module-space) * 2;

  background-color: var(--shark);
  color: var(--silver-chalice);
  font: {
    family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
    size: 62.5%;
    weight: var(--weight-regular);
  }
  line-height: 1.4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body,
button,
h1,
h2,
h3,
h4,
ol,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5rem;
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

input,
textarea {
  border: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    opacity: 1;
  }
}

h2 {
  color: var(--neon-carrot);
  font: {
    size: 1.4rem;
    weight: var(--weight-bold);
  }
  letter-spacing: 1px;
  text-transform: uppercase;

  @media (width >= 992px) {
    font-size: 1.6rem;
  }
}

h3,
h4 {
  color: var(--grey-cloud);
}

p {
  line-height: 1.55;

  @media (width >= 992px) {
    font-size: 1.6rem;
  }
}

section {
  padding: 0 var(--module-space);

  &:not(:first-of-type) {
    margin-top: 60px;
  }
}

textarea {
  margin: 0;
  resize: none;
  white-space: revert;
}

ol,
ul {
  list-style: none;
}

.noscroll {
  overflow: hidden;
}

.about,
.contact,
.experience,
.projects {
  margin: 0 auto;

  @media (width >= 768px) {
    width: calc(768px - var(--viewport-space));
  }

  @media (width >= 992px) {
    width: calc(992px - var(--viewport-space));
  }

  @media (width >= 1200px) {
    width: calc(1200px - var(--viewport-space));
  }

  h2 {
    margin-bottom: 28px;
  }
}