.nav {
  $self: &;

  @media (width <= 767px) {
    background-color: var(--cod-gray);
    height: 100vh;
    right: 0;
    position: absolute;
    top: 0;
    overflow: hidden;
    transition: all .2s ease;
    width: 0;
    z-index: 1020;
  }

  @media (width >= 768px) {
    margin-left: auto;
  }

  &__close {
    background: transparent url(../../assets/close.svg) no-repeat center/24px;
    height: 54px;
    margin-left: 118px;
    width: 54px;

    @media (width >= 768px) {
      display: none;
    }
  }

  &__list {
    @media (width <= 767px) {
      clear: both;
      padding: 40px;
      width: 100px;
    }

    @media (width >= 768px) {
      display: flex;
    }

    &-item {
      font: {
        size: 1.8rem;
        weight: var(--weight-bold);
      }
      text-align: right;

      @media (width <= 767px) {
        &:not(:first-child) {
          margin-top: 14px;
        }
      }

      @media (width >= 768px) {
        font-size: 1.6rem;

        &:last-child {
          #{$self}__list-link {
            padding-right: var(--module-space);
          }
        }
      }
    }

    &-link {
      color: var(--silver-chalice);
      position: relative;
      text-decoration: none;
      transition: all .2s ease;

      &:hover {
        &::after {
          transition: all .2s ease-out;
          width: 100%;
        }
      }

      &::after {
        background: var(--alizarin-crimson-dark);
        content: '';
        height: 2px;
        position: absolute;
        bottom: -4px;
        right: 0;
        transition: all .2s ease;
        width: 0;
      }

      @media (width >= 768px) {
        align-items: center;
        display: flex;
        height: 54px;
        padding: 0 10px;

        &::after {
          bottom: 10px;
        }
      }
    }
  }

  &--open {
    transition: all .2s ease-out;
    width: 180px;
  }
}