.job-listing {
  &__time {
    font: {
      size: 1.4rem;
      weight: var(--weight-semibold);
    }
  }

  &__text {
    margin-top: 8px;
  }

  &__title {
    margin-top: 7px;
  }

  @media (width <= 991px) {
    &:not(:first-of-type) {
      margin-top: 50px;
    }
  }
}